html {
    background: white;
    color: #333;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    font-size: medium;
    line-height: normal;
    font-stretch: normal;
    font-family: Helvetica, Arial, sans-serif;
}
/* Buttons */
.btn {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: hsl(0, 0%, 97%);
  color: #333;
  font: inherit;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.btn--primary {
  padding: 0.5rem 1.5rem;
  background-color: hsl(215, 80%, 55%);
  color: white;
  outline: none;
}
.btn--primary:hover{
  background-color: hsl(215, 80%, 60%);
}
.btn--primary:active, .btn--primary:focus {
  background-color: hsl(215, 80%, 65%);
}
/* Icons */
.material-icons-sharp {
  color: inherit;
  font-size: inherit;
  user-select: none;
  display: inherit;
}
.m-search-icon {
  font-size: larger;
  padding: 0.5rem 0;
}
.m-voice-search {
  margin: 0;
  padding: 0.5rem 0;
  background-color: inherit;
  color: inherit;
  font-size: x-large;
}
