html {
  /* Color Palette */
    --color__text: hsl(0, 0%, 25%);
    --btn--color: black;
    --btn--primary--color: white;
    --btn--primary--background-color: hsl(215, 80%, 55%);
    --btn--primary--background-color__hover: hsl(215, 80%, 60%);
    --color__btn-primary__background--active: hsl(215, 80%, 65%);
    --clr-darker-05: hsla(0, 0%, 0%, 0.05);
    --clr-darker-10: hsla(0, 0%, 0%, 0.10);
    --grey1: hsl(200, 15%, 97%);
    --grey2: hsl(200, 15%, 85%);
    --grey3: hsl(200, 15%, 65%);
    --color__footer--text: hsl(0, 0%, 0%, 60%);
    background: white;
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    font-size: medium;
    line-height: normal;
    font-stretch: normal;
    font-family: Helvetica, Arial, sans-serif;
}
/* Buttons */
.btn {
  margin: 1em 0.5em;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: hsl(0, 0%, 97%);
  color: black;
  font: inherit;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.btn--voice-search {
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: inherit;
}

.btn--primary {
  background-color: hsl(215, 80%, 55%);
  color: white;
  outline: none;
}
.btn--primary:hover{
  background-color: hsl(215, 80%, 60%);
}
.btn--primary:active, .btn--primary:focus {
  background-color: hsl(215, 80%, 65%);
}

/* Icons */
.material-icons-sharp {
  color: inherit;
  font-size: larger;
  user-select: none;
  display: inherit;
}
