/* prob needs to move into reset.css */
body, html {
  margin: 0px;
  border: none;
}

/* whole page */
html, body {
  height: 100vh;
  min-width: 500px;
  background: white;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.flex-row {
  display: flex;
  flex-flow: row;
}

/* Buttons */
.btn {
  text-align: center;
  padding: 1em;
  border: none;
  border-radius: 5px;
}

.btn--blue {
  background-color: hsl(215, 80%, 50%);
}

/* Flex attributes */
header {
  justify-content: space-between;
  flex-wrap: nowrap;
}

footer {
  background: hsl(0, 0%, 95%);
}

.location__border {
  border-bottom: 1px solid hsla(0, 0, 0, .15);
}