html {
  margin: 0px;
  padding: 0px;
  border: none;
}

body {
  margin: 0px;
  padding: 0px;
  border: none;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  white-space: nowrap;
}

header {
  font-size: small;
  margin: 0.5rem 1rem;
  white-space: normal;
}

.l-flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.m-header {
  margin: 0 0.5rem;
}

a.m-header, a.m-footer {
  text-decoration: none;
}
a.m-header:hover , a.m-footer:hover {
  text-decoration: underline;
}
a.m-header:visited , a.m-footer:visited {
  color: inherit;
}

.m-apps {
  color: #666;
  padding: 0.5em;
  font-size: x-large;
  cursor: pointer;
}
.m-apps:hover {
  color: #333;
  background-color: hsl(0, 0%, 95%);
  border-radius: 50%;
}
.m-apps:active {
  color: black;
  background-color:hsl(0, 0%, 90%);
  border-radius: 50%;
}

main , .search {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.search__bar {
  margin: 1em;
  padding: 0 1em;
  max-width: 87vw;
  color: #9ba0a5;
  border:1px solid #d7d7d7;
  /* radius formula = iconHeight/2 + iconPadding + borderWidth */
  border-radius: 2rem;
  border-radius: calc(1.5rem/2 + 0.5rem + 1px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.search__bar:focus-within, .search__bar:hover {
  box-shadow: 0 0 5px lightgrey;
}

.search__bar--input {
  font-size: inherit;
  background-color: inherit;
  margin: 5px 0 5px 1em;
  padding: 0;
  align-self: stretch;
  flex: 1 1 auto;
  width: 50ch;
  border: none;
  outline: none;
}

.search__btn--row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

footer {
  font-size: small;
  color: rgba(0, 0, 0, 0.6);
  background-color: lightgray;
  background-color: rgba(0, 0, 0, 0.05);
}

.location {
  padding: 1em 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.foot__nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0px 1rem;
  justify-content: space-between;
}

.foot__a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  padding: 1em;
  display: block;
  white-space: nowrap;
  text-align: center;
}
.foot__a:hover {
  text-decoration: underline;
}

.foot__nav--business, .foot__nav--legal {
  /* set as the widest of the row in rem*/
  min-width: 22rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.foot__nav--legal{
  justify-content: flex-end;
}

.foot__eco {
  margin: 0 auto;
}

.foot__eco--img{
  height: 1em;
  width: auto;
}

/* max-width is widest times number of elements */
@media screen and (max-width: 66rem) {
  .foot__eco {
    order: -1;
    width: 100vw;
  }
  .foot__nav--legal, .foot__nav--business {
    min-width: max-content;
  }
  .foot__nav {
    justify-content: space-around;
  }
}
