/* prob needs to be a reset.css */
body, html {
  /* margin & padding */
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  /* font */
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  font-size: medium;
  line-height: normal;
  font-stretch: normal;
  font-family: Helvetica, Arial, sans-serif;
}

/* whole page */
body {
  background: white;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
  /* Color Palette */
  --clr-darker-03: hsla(0, 0%, 0%, 0.03);
  --clr-darker-05: hsla(0, 0%, 0%, 0.05);
  --clr-darker-10: hsla(0, 0%, 0%, 0.10);
  --grey1: hsl(200, 15%, 97%);
  --grey2: hsl(200, 15%, 85%);
  --grey3: hsl(200, 15%, 65%);
  --color__btn-primary: hsl(215, 80%, 50%);
  --color__btn-primary--hover: hsl(215, 80%, 55%);
  --color__btn-primary--active: hsl(215, 80%, 60%);
  --color-text: hsl(0, 0%, 25%);
}

.material-icons-sharp {
  user-select: none;
  font-size: large;
}
/* Buttons */
.btn {
  font-size: inherit;
  text-align: center;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--color-text);
  background-color: var(--clr-darker-03);
  margin: 1em 0.5em;
  cursor: pointer;
  white-space: nowrap;
}

.search, main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.search__bar {
  box-sizing: border-box;
  max-width: 87vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  --border-widht: 1px;
  border:var(--border-widht) solid var(--grey2);
  border-radius: calc(2em + var(--border-widht));
  padding: 0 1em;
  margin: 1em;
}

.search__bar:focus-within, .search__bar:hover {
  box-shadow: 0 0 5px lightgrey;
}

.search__bar--icon {
  border: none;
  color: var(--grey3);
  background-color: inherit;
}

.search__bar--input {
  font-size: inherit;
  background-color: inherit;
  margin: 5px 0 5px 1em;
  padding: 0;
  align-self: stretch;
  flex: 1 1 auto;
  width: 50ch;
  border: none;
  outline: none;
}

.btn--voice-search {
  background: inherit;
  margin: 0; 
  padding: 0.5em 0;
  font-size: large;
}

.search__btn--row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.btn--primary:hover{
  background-color: var(--color__btn-primary--hover);
}
.btn--primary:active{
  background-color: var(--color__btn-primary--active);
}

.location {
  border-bottom: 1px solid var(--clr-darker-05);
}


header, .head__nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

header {
  margin: 0.5em 1em;
}
.head__link, .head__apps, .head__btn {
  font-size: small;
  margin: 0 0.5em;
}

.head__link {
  color: var(--color-text);
  text-decoration: none;
}
.head__link:hover {
  text-decoration: underline;
}

.head__nav {
  width: min-content;  
  justify-self: flex-end;
}

.head__apps {
  margin: 0;
  color: var(--color-text);
  padding: 0.5em;
  font-size: large;
  cursor: pointer;
}
.head__apps:hover {
  color: black;
  background-color: var(--clr-darker-03);
  border-radius: 50%;
}
.head__apps:active {
  color: black;
  background-color:var(--clr-darker-10);
  border-radius: 50%;
}

footer {
  background-color: lightgrey;
  background-color: var(--clr-darker-05);
}

.btn--primary {
  background-color: var(--color__btn-primary);
  color: white;
}